body {
    width: 90%;
    padding: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    color: #102542;
    background-color: #F4FAFF;
}

#zoneTab{
    width: 100%;
    max-width: 1440px;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}
#zoneTab>table{
    margin-top: 20px;
}
#zoneTab>table,td{
    border: solid 1px black;
    padding: 5px;
}

hr{
    margin-top: 20px;
    width: 90%;
    color: #A31621;
}

.highlight {
    background-color: yellow;
}

#myChart, #myChart2, #myChart3{
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.parentTris{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    display: flex;
}
.divBubbleSort{
    width: 100%;
}
.divFusionSort{
    width: 100%;
}
.divInsertionSort{
    width: 100%;
}

.divAlgoSort{
    margin-bottom: 150px;
}

.loader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #102542;
    border-bottom: 10px solid #102542;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button {
  appearance: button;
  background-color: #A31621;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #F4FAFF;
  cursor: pointer;
  display: inline-block;
  font-family: "JetBrains Mono",monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 5px 0;
  overflow: visible;
  padding: 10px 20px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* @media (min-width: 768px) {
  button {
    padding: 12px 50px;
  }
} */